<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiu_CaSPR.Sajib.TrustPal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Consent"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".AfterLogin"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".FetchData"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".friendsPage"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".url0"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".url1"
            android:label="@string/title_activity_fetch_data" />
        <activity
            android:name=".url2"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".url3"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".url4"
            android:label="@string/title_activity_fetch_data" />
        <activity
            android:name=".friendurl0"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".friendurl1"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".friendurl2"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".friendurl3"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".friendurl4"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".FriendPickerStarter"
            android:label="@string/title_activity_friend_picker_starter"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fiu_CaSPR.Sajib.TrustPal.FetchData" />
        </activity>
        <activity
            android:name=".FriendSelectorView1"
            android:label="@string/title_activity_friend_selector_view"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fiu_CaSPR.Sajib.TrustPal.FriendPickerStarter" />
        </activity>
        <activity
            android:name=".SaveFriends"
            android:label="@string/title_activity_finish_job"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".FakeLogout"
            android:label="@string/title_activity_finish_job"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".FinishJob"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".FriendSelectorView2"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".FriendSelectorView3"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".FriendSelectorView4"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".FriendSelectorView5"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".puzzle1"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".puzzle2"
            android:label="@string/title_activity_fake_logout"
            android:parentActivityName=".FriendSelectorView1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".puzzle3"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".puzzle4"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".puzzle5"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>
        <activity
            android:name=".ResultSummary"
            android:label="@string/title_activity_fetch_data"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".FriendResult"
            android:label="@string/title_activity_fake_logout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FriendSelectorView1" />
        </activity>

    </application>

</manifest>
